<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjOeAVnavZFcP5niulPbw3r7TnPko4-eU</string>
	<key>GCM_SENDER_ID</key>
	<string>384200312686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aakarshit.VideoSplitDemo</string>
	<key>PROJECT_ID</key>
	<string>videosplitdemo</string>
	<key>STORAGE_BUCKET</key>
	<string>videosplitdemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384200312686:ios:e6e37f3df33df79ad7637f</string>
</dict>
</plist>